*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  line-height: 1.7;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: flex-end;
  padding-top: 7rem;
}

.nav {
  list-style: none;
  font-size: 2.5rem;
  display: flex;
  justify-content: space-evenly;
  width: 20%;
}

a {
  color: black;
  text-decoration: none;
}

.header {
  height: 70vh;
  background-image: linear-gradient(to right bottom, #dd97ddc0, #6f256fbb);
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 70%, 50% 100%, 0 70%);
}

.logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem;
}

.logo {
  height: 10rem;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem;
}

.search-bar {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading-search-bar {
  display: block;
  font-size: 2rem;
  animation-name: moveInLeft;
  animation-duration: 2s;
  animation-timing-function: ease-out;
}

.heading-search-btn {
  display: block;
  font-size: 2rem;
  animation: moveInRight 2s ease-out;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.5;
  overflow: hidden;
  object-fit: cover;
}

.search-container {
  display: flex;
}
